.form {
  position: relative;
  top: 100px;
}

.display {
  position: absolute;
  top: 200px;
  left: 500px;
}

label {
  font-size: 25px;
}

.bottom {
  position: fixed;
  bottom: 0px;
}

.white {
  font-color: 'white';
}

.vr {
  border-right: 1px solid;
}
